$color-red: #d32f2f;
$color-orange: #ff5621;
$color-orange-light: #FF6F42;
$color-pink: #ffcbbb;
$color-yellow: #ffc107;
$color-mustard: #E2BD4D;
$color-purple: #22183a;
$color-blue: #0176BC;

$color-green: #43788d;
$color-green-dark: #005f63;
$color-green-blue: #00828e;
$color-green-light: #25a599;
$color-green-lightest: #4cb5ab;

$color-grey-dark: #36464E;
$color-grey: #606060;
$color-grey-medium: #989898;
$color-grey-light: #bcbcbc;
$color-grey-lightest: #dfdfdf;

$color-white: #ffffff;
$color-white-dark: #f9f9f9;
$color-white-darkest: #ededed;

$color-black: #1B2326;

$color-primary: $color-green;
$color-secondary: $color-orange;
$color-text: $color-grey;